.customMode{
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-right: 2%;
}
.customColors{
    display: flex;
    justify-content: flex-end;
    margin: -2% 1%;
}
.heading{
    color: white;
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
}
.heading h3{
    padding: 0% 6%;
}

